body{
    margin:0;
    padding:0;
    background-color:blueviolet;
}
p{
    background-color: grey;
    border:3px solid green;
}
p:first-of-type{
    height:100px;
    padding:20px;
    margin:0;
}
p:nth-of-type(2){
    width:50%;
    padding:1.2em;
    margin:20px 5px;
}
p:last-of-type{
    width:200px;
    height:200px;
    overflow:hidden; 
    padding:-30px;
    margin:auto;
}